@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
::before,
::after {
  color: #fff;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', 'Acme', sans-serif;
}

@media all and (max-device-width: 480px) {

  .hide {
    display: none;
  }

  #nav-all {
    background-color: #432a17;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }

  #nav-all h1,
  nav h2 {
    padding-left: 50px;
    font-size: 1em;
  }

  #nav-all ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    padding-right: 50px;
  }

  #nav-all ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1em;
  }

  #nav-all ul li a:hover {
    text-decoration: underline;
  }

  #button-nav {
    margin-top: 6vh;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px #00000038;
    background: #ff9100;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  
  body {
    background-color: #432a17;
    overflow-x: hidden;
  }

  #banniere {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 70%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 25px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #banniere h1 strong {
    color: #ff9100;
    text-decoration: underline;
  }

  #banniere h1 {
    background-color: #816729;
  }

  #banniere #bee1 {
    width: 120px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 100px;
  }

  #button-nav-banniere {
    margin-top: 1vh;
    font-size: 0.8em;
    padding: 2px 4px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px #00000038;
    background: #ff9100;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  #presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 50px;
  }

  #presentation-conteneur {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  #presentation-texte {
    background-color: #816729;
    padding: 25px;
    width: auto;
    border: 1px solid #ff9100;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #conteneur-dernier-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #816729;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }

  #conteneur-dernier-article h2 {
    text-decoration: underline;
  }

  #derniers-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  #article-seul-index {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #432a17;
    margin: 20px 20px 20px 0px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ff9100;
  }

  #article-seul-index a {
    text-decoration: none;
  }

  #article-seul-index a:hover {
    background-color: #ff9100;
  }

  #article-seul-index span {
    font-size: 0.9em
  }

  #conteneur-global-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  #conteneur-contact {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #contact-form h2 {
    color: #ff9100;
  }

  #contact-texte {
    margin-right: 100px;
  }

  #contact {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    border-radius: 11px;
    background-color: #f2f2f2;
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100%;
  }

  #conteneur-contact input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  #conteneur-contact button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #conteneur-contact label {
    color: black;
  }

  #conteneur-contact button {
    background-color: #ff9100;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    font-size: larger;
    transition-duration: 0.4s;
    border-radius: 4px;
    margin-top: 50px;
  }

  footer {
    background-color: #ff9100;
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px 10px 10px 10px;
  }

  footer ul {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8em;
    list-style: none;
  }

  footer ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    margin-left: 25px;
    margin-right: 25px;
  }

  footer span {
    color: black;
    font-size: 0.9em;
  }

  footer ul li a:hover {
    text-decoration: underline;
  }

  #conteneur-connexion-inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    background-color: beige;
    border: 2px solid black;
    border-radius: 5%;
  }

  #conteneur-connexion-inscription input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  #conteneur-connexion-inscription button {
    background-color: #ff9100;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-size: larger;
    transition-duration: 0.4s;
    border-radius: 4px;
  }

  #conteneur-connexion-inscription button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #conteneur-connexion-inscription h1 {
    color: black;
    margin-bottom: 10px;
  }

  #conteneur-connexion-inscription a {
    color: black;
  }


  #grp-question {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #question{
    padding-bottom: 50px;
  }
  #panneau {
    background-color: #816729;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px 10px 10px 10px;
    width: auto;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 2px;
    border-color: #ff9100;
  }

  #panneau:hover {
    border: 1px solid #344e41;
    background-color: #432a17;
  }

  #titre-questions {
    font-size: 35px;
    color: white;
    margin-top: 50px;
  }

  #question span {
    color: white;
    font-size: 25px;
  }

  #reponse1 span,
  #reponse2 span,
  #reponse3 span {
    padding-top: 100px;
    font-size: 20px;
  }

  #conteneur-article {
    padding: 10px 10px 10px 10px;
    background-color: #816729;
    width: auto;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #conteneur-article h2 {
    color: white;
    text-decoration: underline;
  }

  #article-seul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #432a17;
    margin: 20px 20px 0px 0px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ff9100;
  }

  #article-seul a {
    padding-right: 10px;
    text-decoration: none;
  }

  #article-seul a:hover {
    text-decoration: underline;

  }

  #article-seul span {
    padding-top: 15px;
    font-size: 0.9em;
  }

  #article-titre {
    font-size: 1.2em;
  }

  #article-desc {
    padding-top: 15px;
  }

  #article-suite {
    font-size: 0.9em;
  }

  #article-global {
    padding: 10px 10px 10px 10px;
    margin-top: 50px;
    width: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #816729;
    border: 1px solid #ff9100;

  }

  #article-global h1 {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  #article-global p {
    margin-bottom: 50px;
  }

  label,
  input,
  button {
    color: black;
  }
  #conteneur-profil {
    background-color: #816729;
    margin: 0 auto;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-top: 50px;
    padding-bottom: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: #ff9100;
    border-radius: 5px;
  }


  #conteneur-profil h2 {
    text-align: center;
    background-color: #344e41;
    border-bottom: #ff9100 solid 2px;
  }

  #conteneur-log {
    margin: 20px 10px 20px 10px;
  }

  #conteneur-reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  td {
    background-color: #432a17;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff9100;
    color: white;
  }

  .champ {
    color: #ff9100;
  }

  .verification {
    background-color: grey;
  }

  .cours {
    background-color: orange;
  }

  .valide {
    background-color: green;
  }

  #reservation {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

  }

  #reservation form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: cornsilk;
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    margin: 0 auto;
    width: auto;
  }

  #reservation h2 {
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }

  #reservation #header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #reservation #formulaire {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  #article-boutique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #article-boutique img {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8%;
  }

  #article-boutique span {
    color: black;
    font-size: 12px;
    margin-bottom: 10px;
  }

  #reservation #formulaire input {
    width: 30%;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
  }

  #reservation #btnformulaire {
    margin-bottom: 10px;
  }

  #reservation #btnformulaire button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px #00000038;
    background: #ff9100;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  textarea {
    resize: none;
    width: 100%;
    height: 150px;
    color: black;
  }

}

@media all and (min-device-width: 480px) {

  .champ {
    color: #ff9100;
  }

  body {
    background-color: #432a17;
    overflow-x: hidden;
  }

  #nav-all {
    background-color: #432a17;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
  }

  #nav-all h1,
  nav h2 {
    padding-left: 50px;
    font-size: 1em;
  }

  #nav-all ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    padding-right: 50px;
  }

  #nav-all ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1em;
  }

  #nav-all ul li a:hover {
    text-decoration: underline;
  }

  #banniere {
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #banniere h1 strong {
    color: #ff9100;
    text-decoration: underline;
  }

  #banniere h1 {
    font-size: 70px;
    background-color: #816729;
  }

  #banniere #bee1 {
    width: 120px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 100px;
  }

  #button-nav-banniere {
    margin-top: 6vh;
    font-size: 2em;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px #00000038;
    background: #ff9100;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  #button-nav {
    margin-top: 6vh;
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px #00000038;
    background: #ff9100;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  #presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  #presentation-conteneur {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #presentation-texte {
    padding: 10px 10px 10px 10px;
    margin-left: 50px;
    width: 60%;
    border: 1px solid #ff9100;
    background-color: #816729;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #presentation-texte p {
    font-size: 20px;
  }

  #presentation-texte p strong {
    color: #ff9100;
  }

  #diapo {
    display: flex;
    align-items: center;
    position: relative;
    margin: auto;
  }

  #conteneur-global-contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #conteneur-contact {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  #contact-form h2 {
    color: #ff9100;
  }

  #contact-texte {
    margin-right: 100px;
  }

  #contact {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    width: 489px;
    border-radius: 11px;
    background-color: #f2f2f2;
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 100%;
  }

  #conteneur-contact input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }

  #conteneur-contact button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #conteneur-contact label {
    color: black;
  }

  #conteneur-contact button {
    background-color: #ff9100;
    border: none;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 0px;
    font-size: larger;
    transition-duration: 0.4s;
    border-radius: 4px;
    margin-top: 50px;
  }

  footer {
    background-color: #ff9100;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px 10px 10px 10px;
  }

  footer ul {
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8em;
    list-style: none;
  }

  footer ul li a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    margin-left: 25px;
    margin-right: 25px;
  }

  footer span {
    color: black;
    font-size: 0.9em;
  }

  footer ul li a:hover {
    text-decoration: underline;
  }

  #grp-question {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #panneau {
    background-color: #816729;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px 10px 10px 10px;
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-style: solid;
    border-width: 2px;
    border-color: #ff9100;
  }

  #panneau:hover {
    border: 1px solid #344e41;
    background-color: #432a17;
  }

  #titre-questions {
    font-size: 35px;
    color: white;
    margin-top: 50px;
  }

  #question span {
    color: white;
    font-size: 25px;
  }

  #reponse1 span,
  #reponse2 span,
  #reponse3 span {
    padding-top: 100px;
    font-size: 20px;
  }

  #login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 200px;
    width: 200px;
  }

  label,
  input,
  button {
    color: black;
  }

  #logo a {
    text-decoration: none;
  }

  #conteneur-connexion-inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    background-color: beige;
    border: 2px solid black;
    border-radius: 5%;
  }

  #conteneur-connexion-inscription input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  #conteneur-connexion-inscription button {
    background-color: #ff9100;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-size: larger;
    transition-duration: 0.4s;
    border-radius: 4px;
  }

  #conteneur-connexion-inscription button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #conteneur-connexion-inscription h1 {
    color: black;
    margin-bottom: 10px;
  }

  #conteneur-connexion-inscription a {
    color: black;
  }


  table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  td {
    background-color: #432a17;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #ff9100;
    color: white;
  }


  #reservation {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

  }

  #reservation form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    background-color: cornsilk;
    border-width: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    margin: 0 auto;
    width: 50%;
  }

  #reservation h2 {
    color: black;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
  }

  #reservation #header {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #reservation #formulaire {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #article-boutique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #article-boutique img {
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 8%;
  }

  #article-boutique span {
    color: black;
    font-size: 12px;
    margin-bottom: 10px;
  }

  #reservation #formulaire input {
    width: 30%;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
  }

  #reservation #btnformulaire {
    margin-bottom: 10px;
  }

  #reservation #btnformulaire button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px #00000038;
    background: #ff9100;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  .erreur {
    background-color: red;
    opacity: 80%;
    width: 100%;
  }

  .erreur h1 {
    color: black;
    text-align: center;
  }

  #admin-conteneur {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 50px;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #816729;
    border: 1px solid #ff9100;
  }

  #admin-conteneur h1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  #nav-onglet {
    background-color: #432a17;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #ff9100;
  }

  #nav-onglet ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    list-style: none;
    padding-right: 50px;
  }

  #nav-onglet ul li a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1em;
  }

  #nav-onglet ul li a:hover {
    text-decoration: underline;
    color: #ff9100;
  }

  #admin-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #admin-stock {
    margin-top: 50px;
    border: 1px solid #ff9100;
    padding: 5px 5px 5px 5px;
  }

  #admin-stock input {
    padding: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 0px;
    box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
  }

  #admin-stock form {
    display: flex;
    flex-direction: column;
  }

  #admin-stock button {
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px #00000038;
    background: #ff9100;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }

  #reponse1,
  #reponse2,
  #reponse3 {
    display: none;
  }

  textarea {
    resize: none;
    width: 100%;
    height: 150px;
    color: black;
  }

  .avantage-image img {
    width: 55px;
    height: 55px;
  }

  .avantage-image {
    border: 1px solid #ff9100;
    border-radius: 50%;
    padding: 10px 10px 10px 10px;
    background-color: #816729;
    margin-bottom: 25px;
  }

  #ensemble-article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 200px;
    margin-right: 200px;
  }

  #article {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: aqua;
    margin-top: 50px;
  }

  #titre-article {
    width: 100%;
    background-color: green;
  }

  #texte-article {
    width: 100%;
    margin-top: 25px;
    background-color: pink;
  }

  #texte-article p {
    white-space: normal;
    width: 5%;
  }

  #stock-section {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #conteneur-article {
    padding: 10px 10px 10px 10px;
    background-color: #816729;
    width: 50%;
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  #conteneur-article h2 {
    color: white;
    text-decoration: underline;
  }

  #derniers-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

  }

  #article-seul-index {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #432a17;
    margin: 20px 20px 20px 0px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ff9100;
  }

  #article-seul-index a {
    text-decoration: none;
  }

  #article-seul-index a:hover {
    background-color: #ff9100;
  }

  #article-seul-index span {
    font-size: 0.9em
  }

  #article-seul {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #432a17;
    margin: 20px 20px 0px 0px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ff9100;
  }

  #article-seul a {
    padding-right: 10px;
    text-decoration: none;
  }

  #article-seul a:hover {
    text-decoration: underline;

  }

  #article-seul span {
    padding-top: 15px;
    font-size: 0.9em;
  }

  #article-titre {
    font-size: 1.2em;
  }

  #article-desc {
    padding-top: 15px;
  }

  #article-suite {
    font-size: 0.9em;
  }

  #article-global {
    padding: 10px 10px 10px 10px;
    margin-top: 100px;
    margin-left: 50px;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #816729;
    border: 1px solid #ff9100;

  }

  #article-global h1 {
    text-decoration: underline;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  #article-global p {
    margin-bottom: 50px;
  }

  #form-article {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }

  #form-article label {
    color: white;
  }

  #form-article input {
    width: 250px;
  }

  #form-article textarea {
    width: 1000px;
    height: 250px;
  }

  #form-article button {
    width: 100px;
  }

  #form-article h2 {
    margin-bottom: 25px;
    text-decoration: underline;
    color: #ff9100;
  }

  .succes {
    background-color: green;
    padding: 10px 10px 10px 10px;
    border: 1px solid darkgreen;
    border-radius: 10px;
  }

  .echec {
    background-color: red;
    padding: 10px 10px 10px 10px;
    border: 1px solid darkred;
    border-radius: 10px;
    opacity: 95%;
  }

  #profil-reservation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  #profil-reservation table {
    width: 25%;
  }

  .verification {
    background-color: grey;
  }

  .cours {
    background-color: orange;
  }

  .valide {
    background-color: green;
  }

  .milieu {
    text-align: center;
  }

  #credit p {
    font-size: 20px;
    margin-top: 150px;
    text-align: center;
  }

  #message-unique {
    margin-top: 50px;
    width: 50%;
    border: 1px solid #ff9100;
    padding: 10px 10px 10px 10px;
    background-color: #432a17;
  }

  #message-unique h4 {
    text-decoration: underline;
    color: #ff9100;
  }

  #conteneur-profil {
    background-color: #816729;
    margin: 0 auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    margin-top: 100px;
    padding-bottom: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: #ff9100;
    border-radius: 5px;
  }


  #conteneur-profil h2 {
    text-align: center;
    background-color: #344e41;
    border-bottom: #ff9100 solid 2px;
  }

  #conteneur-reservation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #conteneur-log {
    margin: 20px 10px 20px 10px;
  }


  #conteneur-recu {
    margin-right: auto;
    margin-left: auto;
    margin-top: 75px;
    background-color: #816729;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    border: 1px solid #ff9100;
  }

  #recapitulatif-commande {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  #conteneur-global-recu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #conteneur-stock-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #conteneur-dernier-article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #816729;
    padding: 25px 50px 25px 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }

  #conteneur-dernier-article h2 {
    text-decoration: underline;
  }

  #img-diapo {
    border: 1px solid #ff9100;
  }

  #recap-commande-titre {
    font-size: 1.3em;
  }

  #bas-recu {
    padding-top: 20px;
  }

  #bas-recu input {
    margin-right: 25px;
    padding: 5px 5px 5px 5px;
  }

  #conteneur-log-mdp form {
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #nouveau-mdp {
    padding: 20px 20px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  #nouveau-mdp label {
    color: white;
  }

  #bouton-nouveau-mdp {
    font-size: 1em;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 5px #00000038;
    background: #ff9100;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
}